<style>
    .teste {
        padding-top:20px;
        width: 200px;
  
    }
    

</style>

<ul class="teste nav nav-pills nav-stacked">
    <li role="presentation" class="active">@Html.ActionLink("Caminhoneiros", "Index", "Drivers")</li>
    <li role="presentation">@Html.ActionLink("Novo caminhoneiro", "Create", "Drivers")</li>
   
    <li role="presentation" class="active">@Html.ActionLink("Rotas", "Index", "Rotas")</li>
    <li role="presentation">@Html.ActionLink("Nova rota", "Create", "Rotas")</li>
    
    <li role="presentation" class="active">@Html.ActionLink("Rotas confirmadas", "Index", "Controles")</li>
    <li role="presentation">@Html.ActionLink("Designar Rotas", "Create", "Controles")</li>

</ul>


